* {
	border: box;
	margin: 0;
}

.conn-port-blocks {
	height: 100%;
}

.msg-port-block {
	width: 50%;
	height: 100%;
	border-right: 1px solid teal;
}

.debug-port-block {
	width: 50%;
	height: 100%;
}

.com-port-head {
	text-align: center;
	font-weight: bolder;
}

.msg-port-disp, .debug-port-disp {
	display: block;
	width: 25%;
	background: none;
	color: black;
}

.msg-port-disp:hover, .debug-port-disp:hover {
	background: none;
}

.msg-port-disp {
	margin-left: 15%;
	margin-top: 20px;
}

.debug-port-disp {
	margin-left: 60%;
	margin-top: 20px;
}

.msg-port-block, .debug-port-block {
	overflow: auto;
}

#comport-loader {
	font-size: x-large;
	text-align: center;
	width: 60%;
	margin-left: 20%;
	margin-top: 10%;
}

.progress {
	background-color: slategray !important;
}

.indeterminate {
	background-color: black !important;
}

