* {
	border: box;
	margin: 0;
}

body {
	background: lightgray;
}

main {
	display: block;
}

.coll-testfw-cont {
	margin: 5% 15% 0;
}

.testfw-menu-body-row {
	text-align: center;
}

.testfw-menu-body-row:not(:first-child) {
	margin-top: 25px;
}

.testfw-menu-header, .testfw-menu-body {
	background-color: rgba(230, 230, 230, 0.5);
}

.divider {
	background-color: #a2a2a2;
}

.single-item {
	width: 100%;
}

.setting-input {
	text-align: center;
}

.setting-cur-val {
	font-size: x-large;
    font-style: oblique;
    font-weight: bold;
    color: teal;
}

.dispmeter-sidenav {
	background: darkblue;
}

header, main, footer {
	padding-left: 300px !important;
	padding-right: 300px !important;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

#toast-container {
    top: 10%;
    left: 80%;
}

.selected-navkey {
	background-color: rgba(0, 0, 0, 0.12);
}

#eventlog-panel {
	background-color: rgba(230, 230, 230, 0.5);
	position: relative;
	top: 20px;
	padding: 20px;
	margin-right: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	height: calc(100vh - 40px);
}

.eventlog-body {
	max-height: 90%;
	overflow: auto;
}

.eventlog-body > .col {
	padding-bottom: 8px;
}

#conn {
	position: fixed;
	bottom: 20px;
	right: 20px;
}
